label{    
    font: bold 16px Trebuchet MS !important;
    clear: right;    
}

/*p {display: table-row;}*/


input { 
    font: normal 16px Trebuchet MS !important;
    /*padding-right: 15px;*/
    /*margin: 5px;*/
 }

/*form  { display: table; }*/

img {padding-bottom: 20px !important;}

/*.ui-tooltip-content {
    font-size:14px;
    font-family: Trebuchet MS;
}*/

