<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <!-- yeti -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    

    
    <link rel="stylesheet" type="text/css" href="/static/form.css" >
 
   <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64450322-1', 'auto');
        ga('send', 'pageview');
   </script> 


   <script type="text/javascript">
     $(function () {
      $.widget("ui.tooltip", $.ui.tooltip, {
          options: {
              content: function () {
                  return $(this).prop('title');
              }
          }
      });
      $(document).tooltip();
    });    
    </script>

    <script type="text/javascript">
      $.extend($.ui.autocomplete.prototype.options, {
        open: function(event, ui) {
          $(this).autocomplete("widget").css({
                  "width": ($(this).width() + "px")
              });
          }
      });
    </script>

    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    </script>

    <!-- <script src="//fast.eager.io/N4m78bm1ZR.js"></script> -->
    
    <script type="text/javascript">
      $(function() {
        $("#book").autocomplete({
          source: function( request, response ) {
                            $.getJSON('/suggest',
                                {term: $('input[name="query_book"]').val()},
                             response);
                        },
          minLength: 4,
        });
      });
      </script>

  </head>

    <body>

<!--     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BookSpace</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">                                  
        </div>
      </div>
    </nav>
 -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ url_for('index') }}" class="navbar-brand">Bookspace</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">            
            <li>

              <a href="{{ url_for('about') }}" >About</a>
            </li>            
        </div>
      </div>
    </div>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        <h3>About</h3>
        <div class="col-sm-7">
        <p> 
          Bookspace is a tool for exploring a similarity space of books. To search for similar books, enter a book title (chosen from the autocomplete suggestions), or enter one or more positive words, or both. 
        </p>
        <p>
          The similarity space was learned using a neural network approach called <a target="_blank" href="http://rare-technologies.com/doc2vec-tutorial/" >doc2vec</a> (or <a target="_blank" href="http://www.jmlr.org/proceedings/papers/v32/le14.pdf">paragraph vector</a> ). Given a corpus of documents, doc2vec learns a vector space representation of documents and words, such that similar documents and words are given nearby vectors. The bookspace model was trained on user reviews by concatenating each book's reviews into a single "document". By representing each book as a document, doc2vec learns an item similarity space.
          </p>

          <p>If you have any thoughts, comments, or questions send them to my name at gmail. </p>
          
          </div>
        </div>
      </div>
      
      
        </div>
    </div>


        <footer>
        <p>&copy; BookSpace by Jerad Fields 2015</p>
      </footer>
      </div> <!-- /container -->

  </body>
</html>

