<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/form.css" >
 
   <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64450322-1', 'auto');
        ga('send', 'pageview');
   </script> 


   <script type="text/javascript">
     $(function () {
      $.widget("ui.tooltip", $.ui.tooltip, {
          options: {
              content: function () {
                  return $(this).prop('title');
              }
          }
      });
      $(document).tooltip();
    });    
    </script>

    <script type="text/javascript">
      $.extend($.ui.autocomplete.prototype.options, {
        open: function(event, ui) {
          $(this).autocomplete("widget").css({
                  "width": ($(this).width() + "px")
              });
          }
      });
    </script>

    <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    </script>

    <!-- <script src="//fast.eager.io/N4m78bm1ZR.js"></script> -->
    
    <script type="text/javascript">
      $(function() {
        $("#book").autocomplete({
          source: function( request, response ) {
                            $.getJSON('/suggest',
                                {term: $('input[name="query_book"]').val()},
                             response);
                        },
          minLength: 4,
        });
      });
      </script>

  </head>

    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ url_for('index') }}" class="navbar-brand">Bookspace</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">            
            <li>

              <a href="{{ url_for('about') }}" >About</a>
            </li>            
        </div>
      </div>
    </div>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        <h3>Find books that are similar yet different</h3>
        <p> Choose a book as a starting point, then add or subtract words to it.  </p>
            <form class="form-horizontal" action="/search/" enctype='application/json' method="GET" >
              
              <div class="form-group">
                <label for="query_book" class="col-sm-1 control-label">Book</label>                
                <div class="col-sm-10">
                  <input class="form-control autocomplete"  value="{{ query.book }}" class="form-control" id="book" name="query_book">
                </div>                
              </div>
              
              <div class="form-group">
                <label for="plus" class="col-sm-1 control-label">Plus</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" value="{{ query.pos }}" id="plus" name="plus">
                </div>
              </div>

              <div class="form-group">
                <label for="minus" class="col-sm-1 control-label">Minus</label>                
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="minus" value="{{ query.neg }}"  name="minus">
                </div>
              
              </div>
              <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                  <button type="submit" class="btn btn-default">Go</button>
                </div>
              </div>                            
            </form>
        </div>
      </div>
      
      <div class="container-fluid">      
        <div class="row">
            {% for ix, item in items.iteritems() %}
            <div class="col-md-2 col-xs-4 col-xs-6">              
                <a href="{{ item.buy_link }}"> 
                <img  height="220" width="134" id={{ item.id }} data-toggle="tooltip" data-placement="right"  src="{{ item.img_link }}" title="{{ item.description }}" >
                </a>
            </div>
            
                {% if loop.index is divisibleby 6 %}
                </div><div class="row">
                {% endif %}

            {% endfor %}
        
        </div>
    </div>


        <footer>
        <p>&copy; BookSpace by Jerad Fields 2015</p>
      </footer>
      </div> <!-- /container -->

  </body>
</html>

